/Makefile
/Makefile.old
/META.yml
/META.json
/MYMETA.yml
/MYMETA.json
/blib/
/build/
/inc/
/pm_to_blib
/MANIFEST
/MANIFEST.bak
/MANIFEST.SKIP
/Devel-GlobalDestruction-XS-*/
/Devel-GlobalDestruction-XS-*.tar.gz
/Distar/
*.bs
*.o
*.c
